---
layout: default
title: Home
--- 
<div class="container">
  	{% for post in site.categories.cartoon limit:1 %}
	
  	<div class="row justify-content-md-center">
		{% if post.is_square %}
  		<div class="col-lg-7">
  	  	{% else %}
		<div class="col-lg-9">
		{% endif %}
		
		  <div class="d-flex">
  	  	        <div class="ml-auto pb-1">
  	  	           <a href="http://www.hackles.org/cgi-bin/archives.pl?request={{ post.my_index }}" target="_blank" class="comic-orig-link">Zum Original bei Hackles.org</a>
  	  	        </div>
  	  	   </div>
	
  	  {{ post.content }}
	  
	    </div>
	  
	    <nav class="col-lg-9 col-md-12 nav comic-nav mx-5 mb-3">
		<ul class="nav mr-auto">
		  {% if site.posts.last.url != page.url %}
	      <li class="nav-item">
	     	  <a class="nav-link big" href="{{ site.baseurl }}{{ site.posts.last.url }}">das erste</a>
			  <a class="nav-link small" href="{{ site.baseurl }}{{ site.posts.last.url }}">&lt;&lt;</a>
	      </li>
		  {% endif %}
	  	  {% if post.previous.url %}
		   <li class="nav-item">
	      	  <a class="nav-link big" href="{{ site.baseurl }}{{ post.previous.url }}">das vorherige</a>
			  <a class="nav-link small" href="{{ site.baseurl }}{{ post.previous.url }}">&lt;</a>
	       </li>
	  	  {% endif %}
	  </ul>
	    </nav>
	  	    </div>
	  
  	{% endfor %}
	
	<div class="row justify-content-md-center">
		<div class="col-lg-7">
			<h2 class="comic-font">Willkommen bei hackles.de</h2>
			<p>
			Kurz nach der Jahrtausendwende haben sich ein paar motivierte Geeks in einem IRC Chat getroffen und dort
			regelmäßig auf die neusten Comics von hackles.org gefreut und über die witzigen und nerdigen 
			Geschichten gelacht.</p>
			<p>
			Schnell war die Idee geboren die Comics in einer deutschen Übersetzung zu veröffentlichen. In Absprache
			mit den Autoren von hackles.org (Drake und Jen) starteten wir mit dem Projekt und bekamen von einem
			befreundeten Webdesigner auch gleich ein cooles Design erstellt.</p>
			<p>
			Das Projekt war dann hauptsächlich bis 2004 und noch mal kurz im Jahr 2006 aktiv, denn leider stellten 
			Drake und Jen das Zeichnen der Comics ein. Seitdem war die Seite unverändert online und wurde von Server 
			zu Server umgezogen.</p>
			<p>2019: Inzwischen hat sich im Webdesign viel getan und wir versuchen hackles.de auf einen aktuellen 
				Stand zu bringen und dabei auch gleich ein paar alte Zöpfe abzuschneiden. Die Comics an sich bleiben
				natürlich unverändert und zeigen ein bißchen Internet-Nerdkultur aus dem Jahr 2000.</p>
			<p>Wir wünschen allen die diese Comics schon kennen, und natürlich allen neuen Besuchern, viel Spaß beim Lesen.</p>
			<h4 class="comic-font">Das Hackles.de Team</h4>
		</div>
	</div>
  
  </div>