<!-- Social media content metadata -->
{% if site.facebook_use %}
{% if site.facebook_app_id %}
<meta property="fb:app_id" content="{{ site.facebook_app_id }}" />
{% endif %}
<meta property="og:title" content="{% if page.title %}{{ site.title }} - {{ page.title }}{% else %}{{ site.title }}{% endif %}" />
<meta property="og:site_name" content="{{ site.title }}" />
<meta property="og:url" content="{% if page.url %}{{ site.url }}{{ page.url }}{% else %}{{ site.url }}{% endif %}/" />
<meta property="og:description" content="{% if page.description %}{{ page.description | strip_html | condense_spaces | truncate:200}}{% else %}{{ site.description }}{% endif %}" />
<meta property="og:locale" content="{{ site.facebook_locale }}" />
<meta property="og:type" content="article" />
{% if page.image %}
<meta property="og:image" content="{{ site.url }}/images/{{ page.categories }}/{{ page.image }}" />
{% else %}
<meta property="og:image" content="{{ site.facebook_image }}" />
{% endif %}
{% endif %}
{% if site.twitter_card == true %}
<meta property="twitter:card" content="{% if page.twitter_card_type %}{{ page.twitter_card_type}}{% else %}summary{% endif %}" />
<meta property="twitter:url" content="{% if page.url %}{{ site.url }}{{ page.url }}{% else %}{{ site.url }}{% endif %}" />
<meta property="twitter:title" content="{% if page.title %}{{ site.title }} - {{ page.title }}{% else %}{{ site.title }}{% endif %}" />
<meta property="twitter:description" content="{% if page.description %}{{ page.description | strip_html | condense_spaces | truncate:200}}{% else %}{{ site.description | strip_html | condense_spaces | truncate:200 }}{% endif %}" />
<meta property="twitter:creator" content="{% if page.twitter_card.creator %}{{ page.twitter_card.creator }}{% else %}{{ site.twitter_user }}{% endif %}" />
{% if page.image %}
<meta property="twitter:image:src" content="{{ site.url }}/images/{{ page.categories }}/{{ page.image }}" />
{% else %}
<meta property="twitter:image:src" content="{{ site.twitter_image }}" />
{% endif %}
{% endif %}