---
layout: default
---
<div class="container">
	<div class="row justify-content-md-center">
  		<div class="col-lg-7">
	  	  <div class="d-flex">
	  	        <div class="ml-auto pb-1">
	  	           <a href="{{ page.book_link }}" target="_blank" class="comic-orig-link">Zum Original bei Hackles.org</a>
	  	        </div>
	  	   </div>
	  {{ content }}
  </div>
	  

    <nav class="col-lg-9 col-md-12 col-9 nav comic-nav mx-5 mb-3">
	<ul class="nav mr-auto">
	  {% if site.categories.book.last.url != page.url %}
      <li class="nav-item">
     	  <a class="nav-link big" href="{{ site.baseurl }}{{ site.categories.book.last.url }}">das erste</a>
 		  <a class="nav-link small" href="{{ site.baseurl }}{{ site.categories.book.last.url }}">&lt;&lt;</a>
      </li>
	  {% endif %}
  	  {% if page.previous.url and page.previous.categories == page.categories %}
	   <li class="nav-item">
      	  <a class="nav-link big" href="{{ site.baseurl }}{{ page.previous.url }}">das vorherige</a>
		  <a class="nav-link small" href="{{ site.baseurl }}{{ page.previous.url }}">&lt;</a>
       </li>
  	  {% endif %}
  </ul>
  <ul class="nav ml-auto">
  	  {% if page.next.url %}
       <li class="nav-item">
      	  <a class="nav-link big" href="{{ site.baseurl }}{{ page.next.url }}">das nächste</a>
		  <a class="nav-link small" href="{{ site.baseurl }}{{ page.next.url }}">&gt;</a>
       </li>
  	  {% endif %}
	  {% if site.categories.book.first.url != page.url %}
      <li class="nav-item">
     	  <a class="nav-link big" href="{{ site.baseurl }}{{ site.categories.book.first.url }}">das letzte</a>
  		  <a class="nav-link small" href="{{ site.baseurl }}{{ site.categories.book.first.url }}">&gt;&gt;</a>
      </li>
	  {% endif %}
  </ul>
    </nav>
  	    </div>
  </div>